/* From stock sdm439-qrd.dtsi */
&gpio_keys {
	camera_snapshot {
		label = "camera_snapshot";
		gpios = <&tlmm 127 0x1>;
		linux,input-type = <1>;
		linux,code = <0x2B1>;
		debounce-interval = <15>;
		linux,can-disable;
		gpio-key,wakeup;
	};
};

&soc {
	gpio_ldo_power {
		compatible = "fm,fm_lan_enable";
		qcom,fm_lan_enable_pin = <&tlmm 87 0>;
	};
};
