menu "LED"
	depends on NEW_LEDS

config LEDS_AW2013_MI8937
	tristate "LED support for AW2013"
	depends on LEDS_CLASS && I2C
	help
	  This option enables support for the AW2013 RGB LED connected
	  through I2C. Say Y to enable support for the AW2013 LED.

endmenu
