/* From stock msm8917-pmi8937-qrd-sku5_S8850?.dtsi */
&i2c_5 {
	status = "ok";
};
&usb_otg {
	qcom,hsusb-otg-mode = <3>;
	interrupts = <0 134 0>,<0 140 0>,<0 136 0>;
	interrupt-names = "core_irq", "async_irq", "phy_irq";
};
