menu "Xiaomi SDM439 platform"
	depends on ARCH_SDM439

config MACH_XIAOMI_SDM439
	bool "Support for Xiaomi SDM439 platform"
	help
	  Say Y here to enable support for Xiaomi SDM439 platform.

if MACH_XIAOMI_SDM439

source "techpack/xiaomi-sdm439/hqsysfs/Kconfig"
source "techpack/xiaomi-sdm439/mach/Kconfig"

source "techpack/xiaomi-sdm439/audio_pa/Kconfig"
source "techpack/xiaomi-sdm439/backlight/Kconfig"
source "techpack/xiaomi-sdm439/fingerprint/Kconfig"
source "techpack/xiaomi-sdm439/ir/Kconfig"
source "techpack/xiaomi-sdm439/touchscreen/Kconfig"

endif # MACH_XIAOMI_SDM439

endmenu
