/ {
	aliases {
		/delete-property/ spi7;
	};
};

&soc {
	/delete-node/ spi@7af7000;
};

&apps_iommu {
	/delete-property/ qcom,no-aarch64;
};

&soc {
	/delete-node/ snfuse@0xa0128;
	/delete-node/ secbootfuse@0xa41d0;
};
