#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT8006S_MI439
    bool "Focaltech Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
