/* From stock msm8917-pmi8937-qrd-sku5_S88505.dtsi */
&spi_7 {
	status = "ok";
	spi_ir@1 {
		compatible = "qcom,spi-msm-codec-slave";
		reg = <1>;
		spi-max-frequency = <50000000>;
		spi-cpol;
		status = "ok";
	};
};
