menu "Fingerprint Drivers"

source "drivers/input/fingerprint/fpc_ugg/Kconfig"
source "drivers/input/fingerprint/gf3208_ugg/Kconfig"

source "drivers/input/fingerprint/fpc_landtoni/Kconfig"
source "drivers/input/fingerprint/goodix_landtoni/Kconfig"

endmenu
