#include <dt-bindings/clock/qcom,audio-ext-clk.h>
#include "msm8937-audio.dtsi"

&ext_codec {
	/delete-property/ qcom,cdc-us-euro-gpios;
	/delete-property/ qcom,msm-mbhc-hphl-swh;
	/delete-property/ qcom,msm-mbhc-gnd-swh;
	/delete-property/ qcom,cdc-us-eu-gpios;
	/delete-property/ qcom,quin-mi2s-gpios;
	asoc-platform = <&pcm0>, <&pcm1>, <&pcm2>, <&voip>, <&voice>,
				<&loopback>, <&compress>, <&hostless>,
				<&afe>, <&lsm>, <&routing>;
	asoc-platform-names = "msm-pcm-dsp.0", "msm-pcm-dsp.1",
			"msm-pcm-dsp.2", "msm-voip-dsp",
			"msm-pcm-voice", "msm-pcm-loopback",
			"msm-compress-dsp", "msm-pcm-hostless",
			"msm-pcm-afe", "msm-lsm-client",
			"msm-pcm-routing";
	/delete-property/ asoc-codec;
	/delete-property/ asoc-codec-names;
	qcom,cdc-us-euro-gpios = <&tlmm 63 0>;
	qcom,msm-mbhc-hphl-swh = <0>;
	qcom,msm-mbhc-gnd-swh = <0>;
};

&soc {
	/delete-node/ qcom,msm-cpe-lsm;
	/delete-node/ msm_cdc_pinctrl;
	wcd_rst_gpio: wcd_gpio_ctrl {
		status = "disabled";
		qcom,cdc-rst-n-gpio = <&tlmm 68 0>;
	};
};

&wcd9xxx_intc {
	/delete-property/ compatible;
	/delete-property/ interrupt-controller;
	/delete-property/ #interrupt-cells;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&clock_audio {
	qcom,lpass-mclk-id = "pri_mclk";
};

&slim_msm {
	/delete-node/ msm_dai_slim;
};

&wcd9335 {
		/delete-property/ elemental-addr;
		/delete-property/ qcom,cdc-slim-ifd;
		/delete-property/ qcom,cdc-slim-ifd-elemental-addr;
		/delete-property/ interrupt-parent;
		/delete-property/ interrupts;
		/delete-property/ qcom,wcd-rst-gpio-node;
		qcom,cdc-reset-gpio = <&tlmm 68 0>;
		/delete-property/ qcom,cdc-static-supplies;
		/delete-property/ qcom,cdc-on-demand-supplies;
		/delete-property/ qcom,cdc-micbias1-mv;
		/delete-property/ qcom,cdc-micbias2-mv;
		/delete-property/ qcom,cdc-micbias3-mv;
		/delete-property/ qcom,cdc-micbias4-mv;
		/delete-property/ qcom,cdc-dmic-sample-rate;
		/delete-property/ qcom,cdc-mclk-clk-rate;
};

&pm8937_gpios {
	gpio@c000 {
		status = "ok";
		qcom,mode = <1>;
		qcom,pull = <5>;
		qcom,vin-sel = <0>;
		qcom,src-sel = <2>;
		qcom,master-en = <1>;
		qcom,out-strength = <2>;
	};
};
