#include "inline-common.dtsi"

&i2c_3 {
	ftech@38 {
		/delete-property/ ftech,button-map;
		/delete-property/ ftech,button-x-coords;
		/delete-property/ ftech,button-y-coord;
		ftech,virtual-key1 = <139 140 2000>;/*menu*/
		ftech,virtual-key2 = <172 360 2000>;/*home*/
		ftech,virtual-key3 = <158 580 2000>;/*back*/
	};
	synaptics@4b {
		vdd-supply = <&pm8937_l10>;
	};
};

&sdc2_cmd_on {
	config {
		drive-strength = <16>;
	};
};

&sdc2_data_on {
	config {
		drive-strength = <16>;
	};
};

&soc {
	qcom,msm-thermal {
		/delete-property/ qcom,therm-reset-temp;
	};
};

&apc_vreg_corner {
	/delete-property/ qcom,cpr-enable;
};

&sdhc_1 {
	qcom,vdd-always-on;
};

&eeprom2 {
	/delete-property/ cam_vaf-supply;
};
