&soc {
	boardinfo {
		compatible = "wt:boardinfo";
	};
};

&i2c_3 {
	status = "ok";
	ftech@38 {
		/delete-property/ ftech,button-map;
		/delete-property/ ftech,button-x-coords;
		/delete-property/ ftech,button-y-coord;
		ftech,virtual-key1 = <139 140 2000>;/*menu*/
		ftech,virtual-key2 = <172 360 2000>;/*home*/
		ftech,virtual-key3 = <158 580 2000>;/*back*/
	};
	synaptics@4b {
		vdd-supply = <&pm8937_l10>;
	};
};


&sdc2_cmd_on {
	config {
		drive-strength = <16>;
	};
};

&sdc2_data_on {
	config {
		drive-strength = <16>;
	};
};

&soc {
	qcom,msm-thermal {
		/delete-property/ qcom,therm-reset-temp;
	};
};

&spmi_bus {
	qcom,pm8937@0 {
		qcom,power-on@800 {
			/delete-property/ qcom,store-hard-reset-reason;
		};
	};
};

&pmi8950_charger {
	/delete-property/ qcom,autoadjust-vfloat;
};

&apc_vreg_corner {
	/delete-property/ qcom,cpr-enable;
};

&sdhc_1 {
	qcom,vdd-always-on;
};

&soc {
	sn_fuse: snfuse@0xa0128 {
		compatible = "qcom,sn-fuse";
		reg = <0xa0128 0x4>;
		reg-names = "sn-base";
	};

	sec_boot_fuse: secbootfuse@0xa41d0 {
		compatible = "qcom,sec-boot-fuse";
		reg = <0xa41d0 0x4>;
		reg-names = "sec-boot-base";
	};
};

&int_codec {
	/* Removed: \0WSA_SPK OUT\0VDD_WSA_SWITCH\0SpkrMono WSA_IN\0WSA_SPK OUT */
	qcom,audio-routing =
		"RX_BIAS", "MCLK",
		"SPK_RX_BIAS", "MCLK",
		"INT_LDO_H", "MCLK",
		"MIC BIAS External", "Handset Mic",
		"MIC BIAS Internal2", "Headset Mic",
		"MIC BIAS External", "Secondary Mic",
		"AMIC1", "MIC BIAS External",
		"AMIC2", "MIC BIAS Internal2",
		"AMIC3", "MIC BIAS External";
};

&eeprom2 {
	/delete-property/ cam_vaf-supply;
};
