&spmi_bus {
	qcom,pm8937@0 {
		qcom,leds@a100 {
			compatible = "qcom,leds-qpnp";
			reg = <0xa100 0x100>;

			qcom,led_blue {
				label = "mpp";
				linux,name = "blue";
				qcom,current-setting = <5>;
				qcom,default-state = "off";
				qcom,id = <6>;
				qcom,max-current = <10>;
				qcom,mode = "manual";
				qcom,mode-ctrl = <96>;
				qcom,use-blink;
			};
		};
		qcom,power-on@800 {
			qcom,store-hard-reset-reason;
			qcom,pon_1 {
				qcom,s1-timer = <6720>;
				qcom,s2-timer = <0>;
				qcom,s2-type = <7>;
				qcom,support-reset = <1>;
			};
		};
	};
};
